<h1 class="text-center text-white bg-dark py-2 text-title border-bottom border-3 border-dark">SUDOKU</h1>

<div class="sfondo">
  <div class="container-lg pt-5">
    <div class="container-fluid text-center my-4">
      <button type="button" class="btn btn-dark mx-3 shadow-none" id="check" (click)="checkFullBoard()"> CHECK! </button>
      <button type="button" class="btn btn-dark mx-3 shadow-none" id="newGame">NEW GAME</button>
    </div>
    
    <table class="my-0 my-4 mx-auto bg-white newShadow" [cellSpacing]="0" [cellPadding]="0">
      <tbody>
        <tr  #rowSudoku *ngFor="let row of sudoku; index as i">
          <td class="boardCell" *ngFor="let column of row; index as j" [attr.column]="j" [attr.row]="i" [attr.square]="s.checkSquare(column,i,j)">
            <div class="staticValue">
              <span *ngIf="column != -1">{{column}}</span>
              <input id="inputNum" class="" type="text" *ngIf="column == -1" maxlength="1"
                (keydown)="checkSudokuInput($event,i,j)">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="result">
      <p class="text-dark fs-2 text-center result mt-5 mb-0">{{result}}</p>
      <!-- <p class="text-danger fs-1 text-center result m-0">{{result2}}</p> -->
    </div>

  </div>
</div>
