<h1 class="text-center bg-secondary py-2">SUDOKU</h1>
<div class="container-lg pt-5">
    <!-- <table class=" my-0 mx-auto" [cellSpacing]="0" [cellPadding]="0">
        <tbody>
            <tr>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

            <tr>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td>
                    <table [cellSpacing]="1" [cellPadding]="0">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                                <td>
                                    <div class="staticValue"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

        </tbody>
    </table> -->

    <table class=" my-0 mx-auto" [cellSpacing]="0" [cellPadding]="0">
        <tbody>
            <tr *ngFor="let x of sudoku">
                <td class="boardCell" *ngFor="let y of x">
                    <div class="staticValue">
                        <span *ngIf="y != -1">{{y}}</span>
                        <input class="" type="text" *ngIf="y == -1" maxlength="1">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
