.text-title{
    font-size: 4rem;
    margin: 0;
}

.sfondo{
    height: 800px;
    background: rgb(69,69,69);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,0,0,1) 100%);
}

.newShadow{
    box-shadow: 0px 0px 30px rgba(124,0,0,1);
}

.staticValue{
    width: 42px;
    height: 42px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}

.staticValue input{
    width: 42px;
    height: 38px;
    font-size: 25px;
    border: 0;
    padding: 0;
    margin: 0;
    /* margin-top: -3px; */
    background: none !important;
    text-align: center;
    position: relative;
    outline: none;
    color: black;
}

span {
    color: rgb(143, 143, 143);
}

.green{
    color: green;
}

.red{
    color: red;
}
