.text-title{
    font-size: 4rem;
    margin: 0;
}

.sfondo{
    height: 800px;
    background: rgb(69,69,69);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(124,0,0,1) 100%);
}

.newShadow{
    box-shadow: 0px 0px 30px rgba(124,0,0,1);
}

.staticValue{
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;
}

.staticValue input{
    width: 2.5rem;
    height: 38px;
    font-size: 25px;
    border: 0;
    padding: 0;
    margin: 0;
    /* margin-top: -3px; */
    background: none !important;
    text-align: center;
    position: relative;
    outline: none;
    color: black;
}

span {
    color: rgb(153, 0, 0);
}

.green{
    color: green;
}

.result{
    text-shadow: 0px 0px 30px black;
    line-height: 3rem;
}

.squareColorOdd{
    background-color: lightgray;
}

.squareColorEven{
    background-color: darkgray;
}

.boardCell:hover{
    filter:brightness(85%)
}